<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Ashtens Portfolio" />
  <meta name="title" property="og:title" content="Portfolio" />
  <meta property="og:type" content="Website" />
  <meta name="image" property="og:image" content="https://static01.nyt.com/images/2021/04/03/multimedia/03xp-april/merlin_185893383_8e41433f-4a32-4b1e-bf02-457290d0d534-superJumbo.jpg" />
  <meta name="description" property="og:description" content="Ashtens portfolio" /><meta name="author" content="Ashten Akemoto" />

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  <link rel="shortcut icon" type="image/x-icon" href="/{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {% if site.theme_config.appearance_toggle %}
    {% include toggle_theme_js.html %}
  {% endif %}

  {%- include custom_head.html -%}
</head>
